/* @import url('function.css'); */

:root {
  --primary-color: #b2ffa9;
  --secondary-color: #f5ddc4;
  --layer-color: #0fa3b1;
  --bg-color: rgb(20, 31, 42);
  --bg-article: rgb(24, 26, 27);
  --text-color: #e8e6e3;
  --legende-color: rgba(213, 213, 213, 0.8);

  --tiny-font-size: 10px;
  --small-font-size: 14px;
  --regular-font-size: 18px;
  --medium-font-size: 24px;
  --medium-large-font-size: 36px;
  --large-font-size: 48px;
  --big-font-size: 60px;
  --bigger-font-size: 72px;
  --giant-font-size: 84px;

  /* Famille de police principale */
  --primary-font-family: "Geometos Neue", Arial, sans-serif;

  /* Polices avec différents poids */
  --font-light: "Geometos Neue Light", Arial, sans-serif;
  --font-regular: "Geometos Neue", Arial, sans-serif;
  --font-bold: "Geometos Neue Bold", Arial, sans-serif;
  --font-black: "Geometos Neue Black", Arial, sans-serif;
  --font-extrabold: "Geometos Neue ExtraBold", Arial, sans-serif;
  --font-extralight: "Geometos Neue ExtraLight", Arial, sans-serif;
  --font-ultra: "Geometos Neue Ultra", Arial, sans-serif;

  --font-nimbus: "Nimbus Sans", Arial, sans-serif;

  --small: 600px;
  --medium: 760px;
  --large: 960px;
}
