---
import "../styles/global.css";
---

<script>
  function switchCharacter(index) {
    console.log("Switching to character", index);
    showCharacter(index);
  }

  const buttons = document.querySelectorAll(".navigation-buttons button");

  // Ajouter un écouteur d'événement à chaque bouton
  buttons.forEach((button, index) => {
    button.addEventListener("click", () => {
      switchCharacter(index);
    });
  });

  let charactersData;

  document.addEventListener("DOMContentLoaded", function () {
    fetch("src/data/characters.json")
      .then((response) => response.json())
      .then((data) => {
        charactersData = data;
        showCharacter(0); // Par défaut, affiche le premier personnage
      })
      .catch((error) => {
        console.error(
          "Une erreur s'est produite lors du chargement des données JSON :",
          error
        );
      });
  });

  function showCharacter(index) {
    const character = charactersData[index];
    const characterImage = document.querySelector(".character img");
    const characterIcon = document.querySelector(".infos img");
    const characterName = document.querySelector(".infos-titre");
    const characterNickname = document.querySelector(".infos-surnom");
    const characterDescription = document.querySelector(".infos-description");
    const characterTags = document.querySelector(".infos-tags");
    const body = document.body; // Sélectionne le corps du document
    const backgroundRect = document.querySelector("svg rect");

    // Mettre à jour le fond en fonction du personnage
    if (character.tags.includes("ingénieur")) {
      body.style.backgroundColor = "#171d29"; // Utilisez la couleur actuelle pour Thomas
      backgroundRect.setAttribute("fill", "#B90E28"); // Couleur actuelle pour Thomas
    } else if (character.tags.includes("artiste")) {
      body.style.backgroundColor = "#3B5998"; // Utilisez du bleu pour Chloé
      backgroundRect.setAttribute("fill", "#133ac9"); // Bleu foncé pour Chloé
    } else if (character.tags.includes("enseignante")) {
      body.style.backgroundColor = "#4CAF50"; // Utilisez du vert pour Judith
      backgroundRect.setAttribute("fill", "#008000"); // Vert foncé pour Judith
    }

    characterImage.src = character.image;
    characterIcon.src = character.icone;
    characterName.textContent = character.nom;
    characterNickname.textContent = character.surnom;
    characterDescription.textContent = character.description;

    // Supprime les tags existants
    characterTags.innerHTML = "";

    // Ajoute les nouveaux tags
    character.tags.forEach((tag) => {
      const tagElement = document.createElement("h3");
      tagElement.textContent = tag;
      characterTags.appendChild(tagElement);
    });
  }
</script>

<style></style>

<head>
  <meta charset="utf-8" />
  <title>Characters</title>
</head>

<body>
  <!-- Nav -->
  <!-- <nav>
    <div>
      <a href="/">Star Wars</a>
    </div>
    <ul>
      <li><a href="/">Story</a></li>
      <li id="blanco"><a href="/characters">Characters</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/community">Community</a></li>
    </ul>
  </nav> -->
  <!-- Partie infos personnage  -->
  <div class="character">
    <img src="" alt="photo du personnage" />
    <div class="infos">
      <!-- met une icone de personnage -->
      <img src="" alt="icone du personnage" />
      <h1 class="infos-titre"></h1>
      <h2 class="infos-surnom"></h2>
      <hr />
      <p class="infos-description"></p>
      <div class="infos-tags"></div>
    </div>
  </div>

  <!-- Boutons de navigation -->
  <div class="navigation-buttons">
    <button onclick="switchCharacter(0)">Personnage 1</button>
    <button onclick="switchCharacter(1)">Personnage 2</button>
    <button onclick="switchCharacter(2)">Personnage 3</button>
  </div>

  <!-- fond de la page -->
  <svg viewBox="0 0 200 200">
    <rect x="0" y="0" width="200" height="200" fill="#B90E28"></rect>
  </svg>
</body>

<style scoped>
  .character {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    /* width: 100vw; */

    gap: 50px;

    img {
      scale: 1.2;

      /* transform: translateY(22%), translateX(-10%); */
      transform: translate(-5%, 10%);
    }
  }
  .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 10px; */

    width: 700px;
    color: white;

    h1 {
      font-size: 50px;
      font-family: var(--font-black);
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1.1px;
    }
    h2 {
      font-size: 40px;
      font-family: var(--font-nimbus);
      font-weight: 300;
      /* text-transform: uppercase; */
      letter-spacing: 3px;
      margin-top: -10px;
    }
    hr {
      width: 10%;
      margin: 0;
      margin-top: 10px;
      border: 3px solid black;
      border-radius: 2px;
    }
    p {
      font-family: Montserrat;
      text-transform: none;

      /* padding-right: 50px; */
      width: 60%;

      margin-top: 20px;
      margin-bottom: 30px;
    }
    img {
      margin-left: -10px;
      margin-bottom: 10px;
      width: 70px;
      height: 70px;
      color: white;
    }

    .infos-tags {
      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: space-between;

      h3 {
        font-family: var(--font-black);
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        background: #171d29;
        border-radius: 25px;
        padding: 8px 20px;
      }
    }
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #171d29;
  }
  svg rect {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 120%;
    height: 40%;
    transform: rotate(38deg) translate(-0%, -30%);
    z-index: 0;
  }

  /* Barre de navigation */
  nav {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    font-family: var(--primary-font-family);
    font-size: 18px;
    z-index: 10;
  }
  nav img {
    height: 40px;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    gap: 40px;
  }
  nav ul li {
    margin-left: 20px;
  }
  #blanco a {
    color: white;
  }
  nav ul li a,
  nav div a {
    color: #505767;
    text-decoration: none;
  }
  nav div a {
    color: white;
  }
  nav ul li a:hover {
    color: white;
  }
</style>
