---
import "../styles/global.css";
---

<script>
  function preloadImages(folderPath, imageNames) {
    imageNames.forEach(function (imageName) {
      var img = new Image();
      img.src = folderPath + "/" + imageName;
    });
  }
  function preloadIcons(iconPath, iconNames) {
    iconNames.forEach(function (iconName) {
      var img = new Image();
      img.src = iconPath + "/" + iconName;
    });
  }

  // Usage
  var folderPath = "/images/characters";
  var imageNames = ["alien.png", "robot.png", "student.png"];

  preloadImages(folderPath, imageNames);

  var iconPath = "/icons";
  var iconNames = ["alien.svg", "robot.svg", "human.svg"];

  preloadIcons(iconPath, iconNames);

  function switchCharacter(index) {
    console.log("Switching to character", index);
    showCharacter(index);
  }

  const buttons = document.querySelectorAll(".navigation-buttons button");

  // Ajouter un écouteur d'événement à chaque bouton
  buttons.forEach((button, index) => {
    button.addEventListener("click", () => {
      switchCharacter(index);
    });
  });

  let charactersData;

  document.addEventListener("DOMContentLoaded", function () {
    fetch("src/data/characters.json")
      .then((response) => response.json())
      .then((data) => {
        charactersData = data;
        showCharacter(0); // Par défaut, affiche le premier personnage
      })
      .catch((error) => {
        console.error(
          "Une erreur s'est produite lors du chargement des données JSON :",
          error
        );
      });
  });

  function showCharacter(index) {
    const character = charactersData[index];
    const characterImage = document.querySelector(".character img");
    const characterIcon = document.querySelector(".infos img");
    const characterName = document.querySelector(".infos-titre");
    const characterNickname = document.querySelector(".infos-surnom");
    const characterDescription = document.querySelector(".infos-description");
    const characterTags = document.querySelector(".infos-tags");
    const body = document.body; // Sélectionne le corps du document
    const backgroundRect = document.querySelector("svg rect");

    // Mettre à jour le fond en fonction du personnage
    if (character.tags.includes("ingénieur")) {
      body.style.backgroundColor = "#181930"; // Utilisez la couleur actuelle pour Robot
      backgroundRect.setAttribute("fill", "rgba(236, 28, 36,.8)"); // Couleur actuelle pour Robot
    } else if (character.tags.includes("artiste")) {
      body.style.backgroundColor = "#1F4155"; // Utilisez du bleu pour Alien
      backgroundRect.setAttribute("fill", "#1D4D5C"); // Bleu foncé pour Alien
    } else if (character.tags.includes("enseignante")) {
      body.style.backgroundColor = " #C0963D"; // Utilisez du vert pour Humain
      backgroundRect.setAttribute("fill", "#6185A5 "); // Vert foncé pour Humain
    }

    characterImage.src = character.image;
    characterIcon.src = character.icone;
    characterName.textContent = character.nom;
    characterNickname.textContent = character.surnom;
    characterDescription.textContent = character.description;

    // Supprime les tags existants
    characterTags.innerHTML = "";

    // Ajoute les nouveaux tags
    character.tags.forEach((tag) => {
      const tagElement = document.createElement("h3");
      tagElement.textContent = tag;
      characterTags.appendChild(tagElement);
    });

    // Supprimer la classe "selected" de tous les boutons de navigation
    document
      .querySelectorAll(".navigation-buttons button")
      .forEach((button) => {
        button.classList.remove("selected");
      });

    // Ajouter la classe "selected" au bouton du personnage actuel
    document
      .querySelector(`.navigation-buttons button:nth-child(${index + 1})`)
      .classList.add("selected");
  }

  // Fonction pour vérifier si l'utilisateur est connecté
  async function checkUserAuthentication() {
    try {
      console.log("Vérification de l'authentification de l'utilisateur...");
      const response = await fetch("http://localhost:4000/api/verify-login", {
        credentials: "include",
      });
      console.log("Réponse reçue :", response);
      const data = await response.json();
      console.log("Données reçues :", data);

      if (response.ok) {
        console.log("L'utilisateur est connecté !");
        // Afficher le lien profil et masquer le lien connexion
        document.getElementById("connexionLink").style.display = "none";
        document.getElementById("profilLink").style.display = "block";
      } else {
        console.error("L'utilisateur n'est pas authentifié :", data.message);
      }
    } catch (error) {
      console.error(
        "Erreur lors de la vérification de l'authentification :",
        error
      );
    }
  }

  // Appeler la fonction pour vérifier l'authentification de l'utilisateur
  checkUserAuthentication();
</script>

<head>
  <meta charset="utf-8" />
  <title>Personnages</title>
</head>

<body>
  <!-- Nav -->
  <nav>
    <div>
      <a href="/">An Enshrouded Encounter</a>
    </div>
    <ul>
      <li><a href="/story">Histoire</a></li>
      <li id="blanco"><a href="/characters">Personnages</a><hr /></li>
      <li><a href="/statistiques">Statistiques</a></li>
      <li id="connexionLink" class="isolated">
        <a href="/connexion">Connexion</a>
      </li>
      <li id="profilLink" class="profil" style="display:none;">
        <a href="/utilisateur">Profil</a>
      </li>
    </ul>
  </nav>
</body>
<!-- Partie infos personnage  -->
<div class="character">
  <img src="" alt="photo du personnage" />
  <div class="infos">
    <!-- met une icone de personnage -->
    <img src="" alt="icone du personnage" />
    <h1 class="infos-titre"></h1>
    <h2 class="infos-surnom"></h2>
    <hr />
    <p class="infos-description"></p>
    <div class="infos-tags"></div>
  </div>
</div>

<!-- Boutons de navigation -->
<div class="navigation-buttons">
  <button onclick="switchCharacter(0)">Etudiant</button>
  <button onclick="switchCharacter(1)">Traqueur</button>
  <button onclick="switchCharacter(2)">IA Robotique</button>
</div>

<!-- fond de la page -->
<svg viewBox="0 0 200 200">
  <rect x="0" y="0" width="200" height="200" fill="#B90E28"></rect>
</svg>

<style scoped>
  nav {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    z-index: 10;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
  }

  nav img {
    height: 40px;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    gap: 40px;
  }

  nav ul li {
    margin-left: 20px;
  }

  nav ul li a,
  nav div a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  nav div a {
    color: white;
  }

  nav ul li a:hover {
    color: white;
  }
  .isolated {
    color: rgba(255, 255, 255, 0.85) !important;
    background-color: #b53926;
    padding: 7px 14px;
    transition: all 0.2s ease-in-out;
  }
  .isolated:hover {
    color: white !important;
    cursor: pointer;
    background: #a23322;
  }

  /* Importation de la police Bebas Neue */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
  #blanco hr {
    border: 0;
    height: 3px;
    background-color: #cd412b;
    margin-top: -5px;
    margin-bottom: 10px;
    color: white;
  }
  #blanco a {
    color: white;
  }

  .profil {
    background: #1b1b1b;
    color: rgba(255, 255, 255, 0.7);
    border: #4c4946 2px solid;
    padding: 0 10px;
    /* padding-bottom: -10px; */
    height: 40px;
  }
  .profil:hover {
    color: white;
    background: #4c4946;
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
  }
  a:nth-child(2) {
    color: rgba(255, 255, 255, 0.7);
  }

  .selected {
    color: white !important;
    font-weight: 900 !important;
  }
  .navigation-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 2%;
    gap: 20px;

    button {
      width: 150px;
      height: 50px;
      color: rgb(215, 215, 215);
      font-family: var(--font-black);
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.1px;
      cursor: pointer;
      background: none;
      border: none;
    }
    button:hover {
      color: white;
    }
  }
  #charac {
    color: white;
    font-weight: 900;
  }
  .character {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 100vw;
    padding-left: 200px;
    padding-bottom: 50px;

    gap: 50px;

    img {
      /* scale: 1; */
      width: 700px;

      /* transform: translateY(50%), translateX(-10%); */
      transform: translate(5%, 5%);
    }
  }
  .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 10px; */

    width: calc(100% - 700px);
    color: white;

    h1 {
      font-size: 50px;
      font-family: var(--font-black);
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1.1px;
    }
    h2 {
      font-size: 40px;
      font-family: var(--font-nimbus);
      font-weight: 300;
      /* text-transform: uppercase; */
      letter-spacing: 3px;
      margin-top: -10px;
    }
    hr {
      width: 10%;
      margin: 0;
      margin-top: 10px;
      border: 3px solid black;
      border-radius: 2px;
    }
    p {
      font-family: Montserrat;
      text-transform: none;

      /* padding-right: 50px; */
      width: 60%;

      margin-top: 20px;
      margin-bottom: 30px;
    }
    img {
      margin-left: -10px;
      margin-bottom: 10px;
      width: 70px;
      height: 70px;
      color: white;
    }

    .infos-tags {
      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: space-between;

      h3 {
        font-family: var(--font-black);
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        background: #171d29;
        border-radius: 25px;
        padding: 8px 20px;
      }
    }
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #171d29;
  }
  svg rect {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 120%;
    height: 40%;
    transform: rotate(38deg) translate(-0%, -30%);
    z-index: 0;
  }
</style>
