---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Characters</title>
  </head>
  <body>
    <!-- Nav -->
    <nav>
      <div>
        <a href="/">Star Wars</a>
      </div>
      <ul>
        <li id="blanco"><a href="/">Story</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
    </nav>
  </body>
</html>

<style scoped>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  body {
    background-image: url("/images/test.svg");
    background-size: 135%; /* Pour couvrir toute la zone de la page */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    background-position: -180px; /* Pour centrer l'image */
  }

  /* Vos styles supplémentaires vont ici */
  nav {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    font-size: 18px;
    z-index: 10;
  }
  nav img {
    height: 40px;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    gap: 40px;
  }
  nav ul li {
    margin-left: 20px;
  }
  #blanco a {
    color: white;
  }
  nav ul li a,
  nav div a {
    color: #505767;
    text-decoration: none;
  }
  nav div a {
    color: white;
  }
  nav ul li a:hover {
    color: white;
  }
</style>
