---
type Party = {
  id: string;
  partie_text: string;
  totalChoix: number;
  choix: { id: string; text: string; total: number }[];
};

const parties = (await fetch(
  "http://localhost:4000/api/stats-embranchements"
).then((res) => res.json())) as Party[];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistiques des choix</title>
    <style>
      /* Styles CSS pour la mise en forme des statistiques */
      .embranchement-stats {
        margin-bottom: 20px;
      }

      .embranchement-stats h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .embranchement-stats p {
        margin: 5px 0;
      }
    </style>
  </head>
  <body>
    <h1>Statistiques des choix empruntés par les joueurs</h1>
    <div>
      {
        parties.map((p) => (
          <div>
            <h2>
              {p.partie_text} {p.totalChoix}{" "}
              <span>{p.totalChoix ? "choix effectués" : "choix effectué"}</span>
            </h2>
            {p.totalChoix ? (
              <ul>
                {p.choix.map((c) => (
                  <li>
                    {c.text}:{" "}
                    {(c.total / p.totalChoix).toLocaleString("fr", {
                      style: "percent",
                    })}
                  </li>
                ))}
              </ul>
            ) : (
              <p>Cet embranchement n'a jamais été parcouru</p>
            )}
          </div>
        ))
      }
    </div>
  </body>
</html>
