---
import { string } from "astro/zod";
import "../styles/global.css";

const props = {
  index: string,
  choice: string,
};

const { index, choice } = Astro.props;
---

<div class="square">
  <div class="inner-square">
    <img src="/images/characters/alien.png" alt="Votre Image" />
  </div>
  <div class="text">
    <span>{index}</span>
    <h2>{choice}</h2>
  </div>
</div>

<style scoped>
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #262421;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .square {
    width: 350px;
    height: 350px;
    border: 2px solid rgba(95, 73, 50, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
    background: #372f26;
  }

  .inner-square {
    width: 80%;
    height: 80%;
    padding: 10%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-square img {
    max-width: 100%;
    max-height: 100%;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 5px;
    gap: 5px;
    color: rgb(201, 178, 153);
    font-family: var(--font-source);
  }

  .text span {
    font-size: 18px;
    line-height: 1.1;
    font-weight: bold;
    background: #262421;
    padding: 2px 7px;
    border: 1px solid rgba(95, 73, 50, 0.6);
    border-radius: 5px;
  }
  .text span:hover {
    border: 1px solid rgba(95, 73, 50, 0.6);
    color: #262421;
    background: rgb(201, 178, 153);
  }

  .text h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0; /* Assurez-vous que les marges sont nulles pour le h2 */
  }
</style>
